.popular-destinations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  width: 100%;
}

.popular-destinations-title{
  color: rgb(218, 165, 32);
  background-position: center;
  background-size: cover;
  border-radius: 8px;
  text-shadow: 5px 5px 7px rgba(0, 0, 0, 0.85);
  width: 100%;
  max-width: 90vw;
  z-index: 0;
}

.popular-destinations-title::before{
  content: "";
    position: absolute;
    top: 23vh; 
    left: 0;
    width: 100%;
    height: 350px;
    background-image: url('/Clouds.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -10;
    opacity: 85%;
    transform: translateY(0px);
}



.destinations-carousel {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  overflow-x: scroll;
  width: 100%;
  max-width: 90vw;
  z-index: 10;
}


.destination-card {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  background-position: center;
  background-size: cover;
  width: 20svw;
  height: 45svh;
  max-height: 45svh;
  margin: 1.2%;
  padding: 1%;
  border: 2px solid transparent;
  box-shadow: 
    0 0 2px goldenrod, 
    0 0 4px goldenrod, 
    0 0 6px goldenrod, 
    0 0 8px goldenrod, 
    0 0 10px goldenrod;
  text-align: left;
  border-radius: 22px;
  animation: appear1 linear;
  animation-timeline: view(x);
  animation-range: entry 0% cover 100%;
}



.destination-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}

.destination-city{
  margin-bottom: 0;
}

.destination-country, .destination-days {
  margin: 0;
}

.like-button {
  align-self: flex-end;
  background: rgba(213, 213, 213, 0.686);
  border: solid goldenrod 2px;
  cursor: pointer;
  font-size: 18px;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.bottom-row{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

h5{
  font-size: 1.5vmin;
  margin-bottom: 8px;
}


@keyframes appear1 {
  0% {
    opacity: 0.5;
    scale: 0.7;
  }

  40% {
    opacity: 1;
    scale: 1;
  }

  50% {
    opacity: 1;
    scale: 1;
  }

  60% {
    opacity: 1;
    scale: 1;
  }

  100% {
    opacity: 0.80;
    scale: 0.7;
  }
}