#react-app {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100svh;
  background-image: url('../../../images/Background.png');
  background-size: cover;
  background-position: center;
  transition: grid-template-columns 0.3s ease;
}

#main-section {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  height: 100%;
  width: 100svw;
}

.sidebar{
  transition: transform 0.3s ease;
}

.sidebar.hidden {
  transform: translateX(-100%);
}

.sidebar.visible {
  transform: translateX(0);
}