#react-app {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100svh;
  background-image: url('../../../images/Background.png');
  background-size: cover;
  background-position: center;
}

#main-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}