.biggest-container{
    display: grid;
    grid-template-columns: 0 auto;
    column-gap: 1%;
    padding-top: 1.5vmin;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 12px;
}