.biggest-container{
    display: grid;
    grid-template-columns: 0 auto;
    column-gap: 1%;
    padding-top: 1.5vmin;
}

.itinerary-title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%
}

.itinerary-title {
   display: flex;
   justify-content: center;
   align-items: center;
}

/* ---------------- */
/* Itinerary Card: */
/* -------------- */

.itinerary-segment{
    display: grid;
    grid-template-areas:
    "title title"
    "image description"
    "image button";
    grid-template-rows: 0.15fr auto auto;
    padding: 0;
    width: 65%;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(2px); 
    border: 1px solid rgba(255, 255, 255, 0.3); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-shadow: 5px 10px 8px 2px rgba(0, 0, 0, 0.5);
}

  .delete-button{
    background: none;
    color: white;
    font-size: medium;
  }

