@font-face {
  font-family: 'Grandiore';
  src: url('../fonts/grandiore.extrabold.ttf') format('truetype');
}

@font-face {
  font-family: 'DarkMagic';
  src: url('../../../fonts/DarkMagic.ttf') format('truetype');
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.2;
  font-weight: 400;

  color: #1a1a1a;
  background-color: whitesmoke;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-family: Grandiore;
  color: whitesmoke;
}

h1 {
  font-family: DarkMagic;
  text-align:6.5vmin;
  color: rgb(218, 165, 32);
  text-shadow: 5px 5px 7px rgba(0, 0, 0, 0.85);
}

h2 {
  font-family: DarkMagic;
  text-align: center;
  font-size: 5.5vmin;
  width: 100%;
}

h3{
  font-size: 4.5vmin;
  color: white;
  font-weight: bold;
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.75);
  padding: 0;
}

h4{
  font-size: 3vmin;
  color: rgb(202, 202, 202);
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.75);
}

button {
  border-radius: 8px;
  font-size: 2vmin;
  font-weight: 500;
  font-family: inherit;
  background: linear-gradient(45deg, #ffce0c50, #ffd21e7c, #ffe65876);
  color: rgb(108, 9, 87);
  cursor: pointer;
  transition: all 0.3s ease;
}
button:hover {
  background-color: rgba(163, 163, 163, 0.514);
  color: #1a1a1a;
  border-color: gold;
  box-shadow: 0 0 10px rgba(255, 215, 0, 0.8), 0 0 15px rgba(255, 215, 0, 0.6), 0 0 20px rgba(255, 215, 0, 0.4);
}
button:disabled {
  background-color: grey;
}

a {
  border-radius: 0.8vmin;
  padding: 0.5vmin;
  font-size: 3vmin;
  text-decoration: none;
  color: whitesmoke;
  text-shadow: 5px 5px 7px rgba(0, 0, 0, 0.85);
}

a:hover {
  background-color: #1a1a1a;
  color: whitesmoke;
}

form {
  display: grid;
  gap: 1.2vmin;
  padding: 4vmin;
  border: 0.5vmin solid #1a1a1a;
  border-radius: 1vmin;
}

input {
  padding: 0.7vmin;
  font-size: 2vmin;
  border: 0.3vmin solid #1a1a1a;
  border-radius: 0.5vmin;
}

form > button:last-child {
  margin-top: 2vmin;
}

label {
  font-size: 2vmin;
  font-weight: bold;
}

h2 {
  text-align: center;
}

.error-message {
  color: rgb(166, 29, 29);
}