@font-face {
  font-family: 'Grandiore';
  src: url('../fonts/grandiore.extrabold.ttf') format('truetype');
}

@font-face {
  font-family: 'DarkMagic';
  src: url('../../../fonts/DarkMagic.ttf') format('truetype');
}

:root {
  font-family: "Source Sans 3", sans-serif;
  line-height: 1.5;
  font-weight: 300;
  font-style: normal;
  color: #1a1a1a;
  background-color: rgb(0, 0, 0);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: fit-content;
  font-family: "Source Sans 3";
  font-weight: 250;
  text-shadow: 2px 3px 6px rgba(18, 18, 18, 0.8);
  color: whitesmoke;
  background-image: url('/Background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

h1 {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 600;
  text-align:6.5vmin;
  color: rgb(218, 165, 32);
  text-shadow: 5px 5px 7px rgba(0, 0, 0, 0.85);
}

h2 {
  font-family: "Source Sans 3", system-ui;
  font-weight: 400;
  color: white;
  text-align: center;
  font-size: 4vmin;
  width: 100%;
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.75);
}

h3{
  font-family: "Source Sans 3", system-ui;
  font-weight: 380;
  font-size: 3vmin;
  color: white;
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.65);
  padding: 0;
}

h4{
  font-family: "Quicksand", system-ui;
  font-size: 2vmin;
  color: rgb(202, 202, 202);
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.55);
}

button {
  border-radius: 6px;
  font-size: 2vmin;
  font-weight: 500;
  font-family: inherit;
  background: linear-gradient(45deg, #ffce0c50, #ffd21e7c, #ffe65876);
  color: rgb(108, 9, 87);
  cursor: pointer;
  transition: all 0.3s ease;
}
button:hover {
  background-color: rgba(163, 163, 163, 0.514);
  color: #1a1a1a;
  border-color: gold;
  box-shadow: 0 0 10px rgba(255, 215, 0, 0.8), 0 0 15px rgba(255, 215, 0, 0.6), 0 0 20px rgba(255, 215, 0, 0.4);
}
button:disabled {
  background-color: grey;
}

a {
  border-radius: 8px;
  text-decoration: none;
  color: whitesmoke;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.85);
}

a:hover {
  background-color: #1a1a1aac;
  color: whitesmoke;
}

form {
  display: grid;
  gap: 1.2vmin;
  padding: 4vmin;
  border: 0.5vmin solid #1a1a1a;
  border-radius: 1vmin;
}

input {
  padding: 0.7vmin;
  font-size: 1.5vmin;
  border: 3px solid #1a1a1a;
  /* border-radius: 0.5vmin; */
}

form > button:last-child {
  margin-top: 2vmin;
}

label {
  font-size: 2vmin;
  font-weight: bold;
}

.error-message {
  color: rgb(166, 29, 29);
}

strong > a{
  border-radius: 0px;
  text-decoration: underline;
  background-color: #73000044;
  color: whitesmoke;
}

li {
  text-align: justify;
  text-justify: inter-word;
  font-size: 1.5vmin;
}